@model PcStore.WebUI.Models.ProductListViewModel

@{
    ViewBag.Title = "List";
}

<h2>Products list</h2>
@foreach (var item in Model.Products)
{
    <div>
        <h3><strong>@item.Name</strong><span class="pull-right label-primary">@item.Price.ToString("c")</span></h3>   
        <span class="lead">@item.Description</span>
    </div>
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", "Pc", new { page = x }))
</div>