@model PcStore.WebUI.Models.ProductListViewModel

@{
    ViewBag.Title = "List";
}

<h2>Products list</h2>
@foreach (var item in Model.Products)
{
    <div>
       @Html.Partial("ProductSummary",item);
    </div>
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", "Pc", new { page = x,specilization=Model.CurrentSpecilization}))
</div>